@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Raleway", sans-serif;
}

.card-page {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
}

.card {
  max-width: 50%;
  min-width: 30%;
  min-height: 60vh;
  position: relative;
  transform-style: preserve-3d;
  transition: 2s;
}
.card:hover {
  transform: rotateY(-180deg);
}
.card .front {
  backface-visibility: hidden;
  height: 100%;
}
.card .front img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.card .back {
  border-radius: 20px;
  backface-visibility: hidden;
  background-color: #008cff;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transform: rotateY(180deg);
}
.card .back .back-text {
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 1.5vw;
  overflow: hidden;
}
.card .back .back-text a {
  color: white;
  background-color: transparent;
  border: 1px white solid;
  border-radius: 20px;
  padding: 1% 2%;
  text-decoration: none;
}
.card .back .back-icons {
  font-size: 3rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.card .back .back-icons i {
  background-color: rgba(255, 255, 255, 0.596);
  padding: 20px;
  border-radius: 50%;
  color: #ff0808;
}

header {
  min-width: 100%;
  min-height: 5vh;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 6px 10px #008cff;
  position: relative;
  z-index: 1;
}
header ul {
  width: 40%;
  display: flex;
  justify-content: space-around;
}
header ul li {
  width: 23%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.5%;
  border-radius: 20px;
  transition: 0.6s;
}
header ul li i {
  color: white;
  font-size: 1.3vw;
}
header ul li a {
  font-size: 1.4vw;
  color: white;
  text-decoration: none;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header ul li:hover {
  background-color: #008cff;
  transform: scale(1.1);
}
header .wlc-page {
  margin-right: 1%;
  width: 15%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.5%;
  border-radius: 20px;
  transition: 0.6s;
}
header .wlc-page i {
  font-size: 1.2vw;
  color: white;
  padding-right: 4%;
}
header .wlc-page a {
  color: white;
  font-size: 1.4vw;
  text-decoration: none;
  width: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header .wlc-page:hover {
  background-color: #008cff;
  transform: scale(1.1);
}

.main-bg {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: black;
}
.main-bg img {
  width: 100%;
  height: 100vh;
  object-fit: contain;
}
.main-bg a {
  position: fixed;
  z-index: 1;
  bottom: 5%;
  right: 2%;
  color: #008cff;
  font-size: 4vw;
  transition: 0.6s;
  border-radius: 50%;
}
.main-bg a:hover {
  transform: scale(1.2);
  opacity: 0.6;
}
.main-bg a i {
  animation: arrow 2s infinite alternate;
}
@keyframes arrow {
  from {
    transform: translateY(-3vh);
  }
}

#about {
  background-color: black;
  color: white;
  width: 70%;
  padding: 8%;
  padding-bottom: 20%;
  margin: 0% auto;
  font-size: 1.4vw;
}
#about h1, #about h3, #about p {
  padding: 1% 0%;
}
#about img {
  display: none;
}

#github p {
  padding-top: 1%;
  font-size: 2vw;
  color: white;
  text-align: center;
  background-color: black;
}
#github .images-container {
  padding: 3%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  background-color: black;
}
#github .images-container a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24%;
  margin-top: 2%;
  position: relative;
  transition: 0.6s;
}
#github .images-container a:hover {
  transform: scale(1.3);
  z-index: 1;
  transition-delay: 1s;
}
#github .images-container a:hover::after {
  display: none;
}
#github .images-container a::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.774);
  font-size: 1.2vw;
  text-align: center;
}
#github .images-container a:nth-child(1)::after {
  content: "Newest Project, Hotel project. W3school clone (Responsive)";
}
#github .images-container a:nth-child(2)::after {
  content: "Social media profile. W3school clone (Responsive)";
}
#github .images-container a:nth-child(3)::after {
  content: "Home Design. W3school clone (Responsive)";
}
#github .images-container a:nth-child(4)::after {
  content: "Youtube-clone (Responsive)";
}
#github .images-container a:nth-child(5)::after {
  content: "Log in";
}
#github .images-container a:nth-child(6)::after {
  content: "Periodic Table";
}
#github .images-container a:nth-child(7)::after {
  content: "Gallery";
}
#github .images-container a:nth-child(8)::after {
  content: "Second project. W3school clone";
}
#github .images-container a:nth-child(9)::after {
  content: "First project. W3school clone";
}
#github .images-container a img {
  width: 100%;
  height: 100%;
  border: 1px white solid;
  border-radius: 20px;
}

#contact {
  background-color: black;
  padding: 2%;
  padding-top: 4%;
  width: 100%;
  font-size: 2vw;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#contact p, #contact .contact-links {
  animation: contact 2s infinite alternate;
}
@keyframes contact {
  from {
    transform: translateX(10%);
  }
  to {
    transform: translateX(-10%);
  }
}
#contact .contact-links {
  padding: 2%;
  width: 20%;
  display: flex;
  justify-content: space-around;
}
#contact .contact-links a {
  color: rgba(255, 255, 255, 0.479);
  background-color: rgba(128, 128, 128, 0.418);
  padding: 5%;
  border-radius: 50%;
  transition: 0.6s;
}
#contact .contact-links a:hover {
  transform: scale(1.2) rotate(360deg);
}
#contact .contact-links a:hover:nth-child(1) {
  color: #0077ff;
}
#contact .contact-links a:hover:nth-child(2) {
  color: #d84c4c;
}
#contact .contact-links a:hover:nth-child(3) {
  color: #f5f231;
}

::-webkit-scrollbar {
  width: 1vw;
}

::-webkit-scrollbar-track {
  background: #000000;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(black, #008cff);
  border-radius: 20px;
}

@media only screen and (max-width: 600px) {
  .card-page .card {
    min-height: 40vh;
  }
  .card-page .card .back .back-text {
    font-size: 3.3vw;
  }
  .card-page .card .back .back-text p {
    font-size: 3vw;
  }

  header ul {
    width: 70%;
  }
  header ul li {
    width: 25%;
  }
  header ul li i {
    font-size: 2vw;
  }
  header ul li a {
    font-size: 3vw;
  }
  header .wlc-page {
    width: 25%;
  }
  header .wlc-page i {
    font-size: 2vw;
  }
  header .wlc-page a {
    font-size: 2.5vw;
  }

  .main-bg a {
    font-size: 10vw;
  }

  #about {
    height: 100vh;
    width: 100%;
    font-size: 3vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #about img {
    display: block;
    width: 70%;
  }

  #github {
    height: 100vh;
    padding-bottom: 5%;
  }
  #github p {
    font-size: 2.5vw;
  }
  #github .images-container {
    height: 100%;
  }
  #github .images-container a {
    width: 45%;
  }
  #github .images-container a::after {
    display: none;
  }

  #contact {
    height: 100vh;
    font-size: 4vw;
  }
  #contact .contact-links {
    width: 50%;
  }
}

/*# sourceMappingURL=main.css.map */
